<div class="container">
  
  <footer class="footer">
    
    <small>
      
      Copyright &copy; <a href="www.ruby-on-rails-crud-blog.herokuapp.com">CRUD Blog</a>
      by <a href="www.giljklein.com">Gil J. Klein</a>
      
      
    </small>
    <nav>
    <ul>
      <li>
        <%= link_to "About", pages_about_path %>
      </li>
    </ul>
    </nav>
  </footer>
  
  
  
  
</div>